/* CSS for screens smaller than medium */
@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

/* CSS for medium screens and larger */
@media (min-width: 768px) {
  .show-on-medium {
    display: block;
  }
}

.hide-on-large {
  display: block;
  /* Set the default display property as needed */
}

@media (min-width: 1024px) {
  .hide-on-large {
    display: none;
  }
}

.custom-brown-text-color {
  color: #d3956c;
  /* Replace with your desired color code */
}
.custom-orange-text-color {
  color: #f59f62;
  /* Replace with your desired color code */
}
.custom-yellow-text-color {
  color: #f2af42;
  /* Replace with your desired color code */
}
.custom-pink-text-color {
  color: #eebdbe;
  /* Replace with your desired color code */
}
.custom-mint-text-color {
  color: #c7e1c3;
  /* Replace with your desired color code */
}

.custom-white-text-color {
  color: #faf9f8;
  /* Replace with your desired color code */
}

.md\:custom-white-text-color {
  color: #faf9f8;
}

.bg-custom-brown-color {
  background-color: #d3956c;
  /* Replace with your desired color code */
}
.bg-custom-orange-color {
  background-color: #f59f62;
  /* Replace with your desired color code */
}
.bg-custom-yellow-color {
  background-color: #f2af42;
  /* Replace with your desired color code */
}
.bg-custom-yellow {
  background: #f2af42 !important;
  /* Replace with your desired color code */
}

.bg-custom-pink-color {
  background-color: #eebdbe;
  /* Replace with your desired color code */
}
.bg-custom-green-color {
  background-color: #c7e1c3;
  /* Replace with your desired color code */
}
.bg-custom-white-color {
  background-color: #faf9f8;
  /* Replace with your desired color code */
}

.hover\:bg-custom-orange:hover {
  --tw-bg-opacity: 1;
  background-color: #f59f62;
}
.hover\:bg-custom-brown:hover {
  --tw-bg-opacity: 1;
  background-color: #d3956c;
}
.hover\:bg-custom-green:hover {
  --tw-bg-opacity: 1;
  background-color: #c7e1c3;
}
.hover\:bg-custom-white:hover {
  --tw-bg-opacity: 1;
  background-color: #faf9f8;
}

.hover\:bg-custom-pink:hover {
  --tw-bg-opacity: 1;
  background-color: #eebdbe;
}

.hover\:text-green:hover {
  --tw-text-opacity: 1;
  color: #c7e1c3;
}

.hover\:text-orange:hover {
  --tw-text-opacity: 1;
  color: #f59f62;
}

.hover\:text-pink:hover {
  --tw-text-opacity: 1;
  color: #eebdbe;
}

.hover\:border-custom-yellow:hover {
  --tw-border-opacity: 1;
  border-color:  #f2af42;
}
.hover\:border-custom-orange:hover {
  --tw-border-opacity: 1;
  border-color:  #f59f62;
}

.hover\:border-custom-pink:hover {
  --tw-border-opacity: 1;
  border-color:  #eebdbe;
}
.hover\:border-custom-green:hover {
  --tw-border-opacity: 1;
  border-color:  #c7e1c3;
}

.hover\:border-custom-brown:hover {
  --tw-border-opacity: 1;
  border-color:  #d3956c;
}


.focus\:ring-custom-yellow:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #f2af42;
}
.border-custom-yellow {
  --tw-border-opacity: 1;
  border-color:#f2af42;
}

.max-h-20 {
  max-height: 20rem; /* You can adjust the value as needed */
}
.max-h-10 {
  max-height: 10rem; /* You can adjust the value as needed */
}

/* pop up substiption */
/* Add your existing styles here */

/* Add your existing styles here */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  max-height: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  z-index: 1000;
}

.modal-content {
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.instagram-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.instagram-post {
  width: calc(20% - 10px); /* 20% width with some margin */
  margin-right: 10px;
}

/* CSS for screens smaller than medium */
@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

/* CSS for medium screens and larger */
@media (min-width: 768px) {
  .show-on-medium {
    display: block;
  }
}

.hide-on-large {
  display: block;
  /* Set the default display property as needed */
}

@media (min-width: 1024px) {
  .hide-on-large {
    display: none;
  }
}

.custom-text-color {
  color: #178219;
  /* Replace with your desired color code */
}

.custom-bg-color {
  background-color: #d3956c;
  /* Replace with your desired color code */
}

@font-face {
  font-family: "Margin";
  src: url("font/margin_demo-webfont.woff") format("woff2"),
    /* Modern Browsers */ url("font/margin_demo-webfont.woff2") format("woff");
  /* Older Browsers */
  /* Add more src declarations if needed for different font formats */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Margin", sans-serif;
  /* Use 'YourFontName' as the font family for the body or any other element */
}

.h-128 {
  height: 36rem;
}
.h-130 {
  height: 37rem;
}
.h-132 {
  height: 38rem;
}
.h-192 {
  height: 48rem;
}
