/* CSS for screens smaller than medium */
@media (max-width: 767px) {
    .hide-on-small {
        display: none;
    }
}

/* CSS for medium screens and larger */
@media (min-width: 768px) {
    .show-on-medium {
        display: block;
    }
}

.hide-on-large {
    display: block;
    /* Set the default display property as needed */
}

@media (min-width: 1024px) {
    .hide-on-large {
        display: none;
    }
}

.custom-text-color {
    color: #D3956C;
    /* Replace with your desired color code */
}
.custom-text-color {
    color: #F59F62;
    /* Replace with your desired color code */
}.custom-text-color {
    color: #F2AF42;
    /* Replace with your desired color code */
}.custom-text-color {
    color: #EEBDBE;
    /* Replace with your desired color code */
}.custom-text-color {
    color: #C7E1C3;
    /* Replace with your desired color code */
}

.custom-bg-color {
    background-color: #D3956C;
    /* Replace with your desired color code */
}
.custom-bg-color {
    background-color: #F59F62;
    /* Replace with your desired color code */
}
.custom-bg-color {
    background-color: #F2AF42;
    /* Replace with your desired color code */
}
.custom-bg-color {
    background-color: #EEBDBE;
    /* Replace with your desired color code */
}
.custom-bg-color {
    background-color: #C7E1C3;
    /* Replace with your desired color code */
}

.max-h-20 {
    max-height: 20rem; /* You can adjust the value as needed */
}
.max-h-10 {
    max-height: 10rem; /* You can adjust the value as needed */
}


/* pop up substiption */
/* Add your existing styles here */

/* Add your existing styles here */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    margin-top: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}